* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 375px;
  max-height: 667px;
  background-image: url("//dist/fondo.png");
}

.container {
  min-width: 370px;
  min-height: 500px;
  display: flex;
  flex-direction: row;
}
